<h2><%= @floating_text %></h2>

<% if @projects.any? %>
  <h3>These projects are currently in the works (listed alphabetically):</h3>
  <ul>
    <% @projects.each do |project| %>
      <li><a href="/projects/<%= project.id%>"><%= project.name %><%=" - "%><%= project.id %></a> </li>
    <% end %>
  </ul>

<% else %>
    <p>There are no projects yet!</p>
<% end %>

<hr>

<h3>Create a new project:</h3>

<form action="/projects" method="post">
  <div class="form-group">
    <label for="project_name">Enter a name for the project:</label><br>
    <input name="project_name" type="text" required>
  </div>
  <button type="submit" class="btn btn-primary">Add Project</button>
  <a href="/volunteers" class="btn btn-success">View All Volunteers</a>
</form>

<hr>

<h3>Search the Database:</h3>

<form action="/search">
  <div class="form-group">
    <label for="search_input">Enter a search term:</label><br>
    <input name="search_input" id="search_input" type="text" required>
  </div>
  <button class="btn btn-warning">Search Database</button>
</form>
