<h2><%= @floating_text %></h2>

<hr>

<h3>Update the <%=@project.name() %> name </h3>

<form action="/projects/<%= @project.id %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <label for="project_name">Rename your project:</label>
  <input id="project_name" name="project_name" type="text" required>

  <button type="submit" class="btn btn-warning">Update Project</button>
</form>

<br>

<form action="/projects/<%= @project.id %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <a href="/" class="btn btn-info">Back</a>
  <button type="submit" class="btn btn-danger">Delete Project</button>
</form>


<br>
<hr>
<br>

<% if @project.volunteers.any?%>
  <h3>Here are all the volunteers assigned to this project (listed alphabetically):</h3>
  <ul>
    <% @project.volunteers.each do |volunteer| %>
      <li><a href="/volunteers/<%= volunteer.id%>"> <%= volunteer.name %><%=" - ID: "%><%= volunteer.id %><%=" - Hours Worked: "%><%= volunteer.hours %> </a></li>
    <% end %>
  </ul>

<% else %>
  <p>There are no volunteers currently assigned to this project!</p>
<% end %>

<h3> Add a volunteer for <%= @project.name %></h3>

<form action="/volunteers/add" method="post">
  <input id="project_id" name="project_id" type="hidden" value="<%= @project.id %>">
  <label for="volunteer_name">Name of the Volunteer:</label>
  <input id="volunteer_name" name="volunteer_name" type="text">
  <button type="submit" class="btn btn-primary">Add Volunteer</button>
</form>
